@import url( '://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body
{
   font-family: 'Raleway', sans-serif;
   font-size: small;
}


.centrage
{
	width: 95%;
	margin: auto;
}

header
{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	
		
}


header img
{
	width: 80px;

}
.lien2
{
	display: none;
}

   

.menu
{
	
	font-size: 1.1em;
	display: flex;

	
}
.liens
{
	font-size: 1.1em;

}


.liens ul
{
    list-style-type: none;
  	display: flex;
  
}

.liens li
{
	margin-right: 70px; 
}

.liens a 
{
	text-decoration: none;
	color: gray;
	

}
.liens a:hover
{
	color: #0065FC;
	border-top: 2px solid  #0065FC;
	padding-top: 30px;
}
.lien
{
	margin-top: 14px;


}
.lien a
{
	text-decoration: none;
	color: blue;
}

.filtre:hover
{
    background-color: #DEEBFF;
}
.infos
{
	display: flex;
	margin-top: 15px;

}
.info 
{
	border: 2px solid #F2F2F2 ;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	margin-top: 8px;
	border-radius: 20px;

	
	
	
}
.info i
{
	margin-left: 8px;
	color:  #0065FC;
	margin-top: 2px;
}

section
{
	display: flex;
	justify-content: center;
	margin-top: 25px;

	
}

.conteneur 
{
     
    background-color: #F2F2F2;
    width: 1000px;
    border-radius: 20px;
}

.conteneurtitre
{
	
	margin-top: 40px;
	margin-left: 75px;
}	
 
.hotels
{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hotel
{
	width: 250px;
	height: 190px;
	background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    margin-bottom: 30px;


   
}



.hotel img
{
	width: 240px;
	height: 105px;
	margin: 5px auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
    display: block;
    object-fit: cover;

}

.hoteltext
{
    margin: 10px;
}


.hoteltext h3
{
   margin: 5px; 
}


.hotel p 
{
    margin: 5px;
}
.etoiles
{

   display: flex;

}
.etoiles i
{
	color:  #0065FC;
	margin: 1px;
}
.etoilesgris
{
	display: flex;
}

.etoilesgris i
{
   color: #DCDCDC;
}


.plus
{
	margin-left: 65px;
	margin-bottom: 30px;
	
}








#filtres
{
     margin-top: 20px;
    display: flex;
}
#filtres h3
{
	margin-top: 7px;
}
.filtres
{
	display: flex;
	flex-wrap: wrap;

}

.filtre
{
   
   text-align: justify;
   margin-left: 40px;
   border: 2px solid #F2F2F2;
   display: flex;
   height: 34px;
   border-radius: 20px;
   border-left: 0;
}



.icone
{
	
    margin: 0px;
    border-radius: 20px;
    background-color:  #DEEBFF;
    height: 34px;
    width: 35px;
	

}
.icone i 
{
	margin: 11px;
	color:   #0065FC;
	
}

.titre
{

}
.titre h3
{
	text-align: justify;
	margin: 10px;


}


.elements
{
	display: flex;

}

.maps
{
	width: 30px;
	height: 35px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #F2F2F2;

}
.maps i 
{
	margin-top: 10px; 
	margin-left: 10px;	
}
input
{
	border: 1px solid #F2F2F2;
	border-right: none;
}


button
{
	border: 0px;
	border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color:  #0065FC;
    
}
button strong 
{
	margin: 0;
	color: white;
}

.visibilite
{
	
	display: none;
}

.recommandation
{
	width: 400px;
    background-color: #F2F2F2;
    height: 560px;
    border-radius: 20px;
    margin-left: 40px;
    padding: 10px
}
.conteneur2
{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

.populairetitre
{
	display: flex;
	justify-content: space-around;
	
}
.populairetitre h3
{
	margin-right: 15px;
}




.chart
{
     font-size: large;
     
     margin-top: 15px;
}

.hotelpopulaire
{
	background-color: white;
	width: 320px;
	height: 140px;
	margin-left: 20px;
    margin-bottom: 30px;
	
    border-radius: 20px;
    display: flex;
    box-shadow: 0px 5px 10px gray;

}


.hotelpopulaire >img
{
    width: 43%;
    height: 130px;
    margin: 5px auto;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 5px;
    object-fit: cover;

}

.hotelpopulairetext
{
   
    width: 190px;
    height: 95px;
    margin: auto;
}

.hotelpopulairetext h3
{
    margin: 0;
    padding-top: 5px;
    padding-left: 20px;
    	
}
.hotelpopulairetext p 
{
    margin: 0;
	margin-left: 20px;
	margin-top: 10px;
}
.etoile
{
  margin-top: 15px;
  margin-left: 20px;
  display: flex;

}
.etoile i
{
	color:  #0065FC;
	margin: 1px;

}
.etoilegris i
{
    color: #DCDCDC;
}

.container
{
	margin-top: 20px;
	width: 100%;
	flex-wrap: wrap;


}

.activites
{
    width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}

.activites img
{
	object-fit: cover;
}


.activite1
{
	border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
    width: 285px;
    height: 430px;

    

}
.activite2
{
	border-radius: 20px;
    box-shadow: 0px 5px 10px gray;
	width: 285px;
	height: 210px;
	display: block;

}
.activite3
{
	border-radius: 20px;
	box-shadow: 0px 5px 10px gray;
	width: 285px;
	height: 170px;

}
.activite5
{
	border-radius: 20px;
	box-shadow: 0px 5px 10px gray;
	width: 285px;
	height: 190px;
}
.activite6
{
	border-radius: 20px;
	box-shadow: 0px 5px 10px gray;
	width: 285px;
	height: 190px;

}



.activite1 img
{
	
    width:  285px;
    height: 380px;
    border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.activite2 img
{
	width: 285px;
	height: 160px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.activite3 img
{
	width: 285px;
	height: 120px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.activite5 img
{
	width: 285px;
	height: 140px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.activite6 img
{
	width: 285px;
    height: 140px;
    border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.activites h3
{
	margin-left: 15px;
}
footer
{

}

.basdepage
{
   background-color: #F2F2F2;
   margin-top: 50px;
   height: 200px;
   
}

.boites
{

	width: 70%;
	
   display: flex;
   justify-content: space-between;

   
}

.boite
{
	margin-top: 30px;
}
.boite ul
{
   list-style-type: none;

}
.boite li
{
	margin-top: 10px;
}


.boite h3
{
   margin-left: 40px;
}

@media all and (max-width: 480px) {
	#global
	{
		width: 100%;
	    margin: auto; 
	    
	}
	
	.centrage
	{
		width: 100%;
		
		
	}

	 header 
	{
	    
	    flex-wrap: wrap;
	    
	}
	.menu
	{
		width: 100%;
	}

	.liens
	{
		width: 100%;
	}

	.liens ul
	{
		margin: 0;
	   	padding: 0;
		width: 100%;
		display: flex;
		flex-wrap: nowrap; 
	}

	.liens li
	{
		border-bottom: 2px solid gray;
		width: 100%;
		text-align: center;
		margin: 0;
		padding-bottom: 20px;
	}

	.liens li:hover
	{
		border-bottom: 2px solid blue;
	}

	.liens a:hover
	{
	
		border-top: none;
	   
	}
	
	.lien 
	{
      display: none;
  	}

  	.lien2
  	{
  		 
  		display: flex;
  		margin-right: 5px;

	}

	.lien2 a 
	{
		text-decoration: none;
		color: #0065FC;
	}


	.centre
	{
		width: 290px;
		margin: auto;
	}

	.visibilite 
	{
		display: flex;
	}

	.visibilite i
	{
		color: white;
	}

	button
	{
		width: 35px;
		border-bottom-left-radius: 10px;
    	border-top-left-radius: 10px;
	}

	.elements > button 
	{
		display: none;
	}

	input
	{
		width: 220px;
		border: 0;
	}

	.elements
	{
		border: 1px solid #F2F2F2;
		width: 290px;
		margin: auto;
		border-radius: 12px;
    }
	

	#filtres
	{
	    flex-wrap: wrap;
	    width: 290px;
	    margin: auto;
		
		
	}

	.filtres
	{
		flex-wrap: wrap;


	}

	.filtre
	{
        margin: 3px;
	}

	.infos
	{
		width: 290px;
		margin: auto;
	}

	section
	{
		flex-direction: column-reverse;
		margin: 0;
	}

	.conteneur
	{
		background: none;
		height: auto;
		width: auto;
	}
	.conteneurtitre
	{
		width: 290px;
		margin: auto;
	}
	

	.hotels
	{
		height: auto;
	}

	.hotel
	{
		
		width: 290px;
		height: 170px;

	}

	.hotel img
	{
		width: 280px;
		height: 90px;
	}
	.plus
	{
		width: 290px;
		margin: auto;
	}

	.recommandation
	{
		width: auto; 
		border-radius: 0;
		margin: 0;
		
	}
	.conteneur2
	{
		display: block;
	}
	.populairetitre
	{
    
    	
	}
	
	.hotelpopulaire
	{
		width: 300px;
		margin: 0 auto;
		margin-bottom: 20px;
		padding: 0;
	}
	.hotelpopulairetext
	{
		margin-right: 5px;
	}

	.container h3
	{
		margin-left: 80px;

	}
	
	
	
	.activites
	{
		width: auto;
		height: auto;
	}
	.activites h3 {
		margin-left: 20px;
	}
	

	.activite1
	{
		width: 290px;
        height: 170px; 
        margin: auto;
        margin-bottom: 15px;

	}
	.activite1 img
	{
		width: 290px;
		height:120px;
	}
	.activite2
	{
		width: 290px;
        height: 170px; 
        margin: auto;
        margin-bottom: 15px;
	}
	.activite2 img
	{
		width: 290px;
		height:120px;
	}

	.activite3
	{
		width: 290px;
        height: 170px;
        margin: auto; 
        margin-bottom: 15px;
	}
	.activite3 img
	{
		width: 290px;
		height:120px;
	
	}

	.activite4
	{
		width: 290px;
        height: 170px; 
        margin: auto;
        margin-bottom: 15px;


	}
	.activite4 img
	{
		width: 290px;
		height:120px;
	}

	.activite5
	{
		width: 290px;
        height: 170px;
        margin: auto; 
        margin-bottom: 15px;
	}
	.activite5 img
	{
		width: 290px;
		height:120px;
	}

	.activite6
	{
		width: 290px;
        height: 170px;
        margin: auto;
        margin-bottom: 15px;
	}
	.activite6 img
	{
		width: 290px;
		height:120px;
	}

	.boites
	{
		flex-wrap: wrap;
	}
	.basdepage
	{

		height: auto;
		
	}

	
	

}


@media all and (min-width: 481px) and (max-width: 1024px) {

	#global 
	{
		width: 100%;
	}

	.centrage
	{
		width: 100%;
	}
	
	.filtres{
		flex-wrap: wrap;
	}
	section {

		flex-wrap: wrap-reverse;
	}
	
	.hotels {

		height: auto;
	}
	.recommandation {

		margin-bottom: 20px;
		width: 100%;
		height: auto;
		margin-left: 0;
		

	}
	.conteneur2
	{
		display: flex;
		flex-wrap: wrap;

	}
	.container h3 {
		margin-left: 80px;
	}
	.activites h3
	{
		margin-left: 20px;
	}
		
	
	.activites
	{
		width: 100%;
		height: 600px;
		display: flex;
		flex-wrap: wrap;
	}


	.activite1
	{
		width: 300px;
        height: 170px; 
        margin: auto;
        margin-bottom: 15px;
	}
	.activite1 img
	{
		width: 300px;
		height:120px;
	}
	.activite2
	{
		width: 300px;
        height: 170px; 
        margin: auto;
        margin-bottom: 15px;
	}
	.activite2 img
	{
		width: 300px;
		height:120px;
	}
	.activite3
	{
		width: 300px;
        height: 170px;
        margin: auto; 
        margin-bottom: 15px;
	}
	.activite3 img
	{
		width: 300px;
		height:120px;
	
	}

	.activite4
	{
		width: 290px;
        height: 170px; 
        margin: auto;
        margin-bottom: 15px;

	}
	.activite4 img
	{
		width: 300px;
		height:120px;
	}
	.activite5
	{
		width: 300px;
        height: 170px;
        margin: auto; 
        margin-bottom: 15px;
	}
	.activite5 img
	{
		width: 300px;
		height:120px;
	}

	.activite6
	{
		width: 300px;
        height: 170px;
        margin: auto;
        margin-bottom: 15px;
	}
	.activite6 img
	{
		width: 300px;
		height:120px;
	}

	
	

}
@media (min-width: 481px) and (max-width: 622px) {

	.activites
	{
		width: 100%;
		height: auto;
		display: flex;
		flex-wrap: wrap;
		



	}

}
@media (min-width: 1025px) and (max-width: 1225px) {

	.activites {

		height: 650px;
		display: flex;
		flex-wrap: wrap;
	}
	.activite5
	{
		height: 430px;

	}
	.activite5 img {
		height: 380px;
	}
}










    


	



  




